:root {
  --branding-color: #4682a8;
  --secondary-color: #f6f4eb;
  --heading-font-family: "Roboto", sans-serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: black;
}

h1 {
  font-size: 65px;
  font-weight: bold;
  line-height: 1.2;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 48px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

nav {
  padding: 20px 0;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  color: #272142;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

a.contact-links {
  color: var(--branding-color);
  transition: all 100ms ease-in-out;
}

a.contact-links:hover {
  color: black;
}

footer {
  margin: 50px 0;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 80px;
  border-radius: 10px;
}

footer h3 {
  font-size: 40px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  color: black;
  font-size: 24px;
  text-decoration: none;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

footer .github-link {
  color: black;
}

footer .github-link:hover {
  color: var(--branding-color);
}
footer .heart {
  color: var(--branding-color);
}
.logo {
  max-height: 42px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 50px 120px;
  border-radius: 10px;
}

.hero p {
  font-size: 36px;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
  color: #272142;
}

.weather-app {
  border: 2px solid var(--secondary-color);
}
.content-container {
  padding: 40px 20px;
}

.content h1 {
  font-size: 60px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  line-height: 1.5;
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}

.btn-branding {
  background: var(--branding-color);
  color: #ffffff;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-description {
  padding: 0 60px;
}

@media (max-width: 770px) {
  h1 {
    font-size: 50px;
    line-height: 56px;
    margin-top: 10px;
    text-align: center;
  }

  h2 {
    font-size: 44px;
  }

  h3 {
    font-size: 26px;
  }

  nav a {
    font-size: 12px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .content-container {
    padding: 20px;
    text-align: center;
  }

  .content {
    padding: 0;
    text-align: center;
  }
}
